Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
tmp/

# Environment files
.env
.env.local
.env.*.local

# Docker volumes
mysql_data/
database/data/**
database/docker-entrypoint-initdb.d/**

# Logs
logs/
*.log
